<!DOCTYPE html>
<html>
  <head>
    <title>ingredientes</title>
  </head>
  <body>
    <main>
      <h1> {{['Title']}}</h1>
      <table class="content-table">
        <thead>
          <tr>
            <th>:</th>
          </tr>
        </thead>
        <tbody>
          <ul>
            {% for n in  %}
            <tr>
              <td>
                <a href="{{url_for('', id=n[''])}}"
                  >{{ n['Name']}}</a
                >
              </td>
            </tr>
            {% endfor %}
          </ul>
        </tbody>
      </table>
    </main>
  </body>
</html>