  <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>

    <h1>Lista de Productos</h1>
    
    {% for producto in productos %}
    <div style="border: 1px solid #ccc; padding: 5px; margin: 5px 0;">
        <h2>{{ producto.Nombre }}</h2>
        <p>Precio: ${{ producto.Precio }}</p>
      <a href="ingredientes"><img width="120px" height="120px" src="/static/{{ producto.imagen[2:] }}" alt="{{ producto.Nombre }}" />
      </div>
      {% endfor %}
    </body>
</html>
